
@{
    ViewBag.Title = "Thay đổi mật khẩu";
}

<div class="box box-primary">
    <div class="box-header">
    </div>

    <div class="box-body">
        <form class="form-horizontal" action="~/account/ChangePass" method="post" enctype="multipart/form-data">



            <div class="form-group">
                <label class="control-label col-sm-2">Mật khẩu cũ:</label>
                <div class="col-sm-10">
                    <input type="text" name="oldPassword" class="form-control" />
                    <p style="color:red">@ViewBag.errorOld</p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Mật khẩu mới:</label>
                <div class="col-sm-10">
                    <input type="text" name="newPassword" class="form-control" />
                    <p style="color:red">@ViewBag.errorNew</p>
                    <p style="color:forestgreen">@ViewBag.success</p>
                </div>
            </div>



            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-save"></i> Lưu dữ liệu
                    </button>

                    <a class="btn btn-warning" href="~/">
                        <i class="fa fa-ban"></i> Quay lại
                    </a>
                </div>
            </div>
        </form>
    </div>
    <div class="box-footer text-center">
    </div>

</div>


