<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Phiên bản</b> 1.0
    </div>
    <strong>Bản Quyền &copy; 2022 <a href="#">Chuyển đổi số</a>.</strong> ĐĂNG KÝ TẠI TRUNG TÂM GIÁM SÁT
</footer>
